<div ng-switch="field.widget" style="clear:both">
   <div ng-switch-when="radio-buttons" class="form-group row">
      <span class="control-label col-xs-4">{{ field.label }}&nbsp;:</span>
      <div ng-if="!readonly" class="btn-group col-xs-8">
        <label ng-repeat="(value, data) in field.values" ng-model="$parent.model[$parent.fieldname]" uib-btn-radio="'{{value}}'" class="btn btn-default"><span ng-bind-html="data.label"></span></label>
      </div>
      <span ng-if="readonly" class="col-xs-8"><span ng-bind-html="field.values[model[fieldname]].label"></span></span>
   </div>

   <div ng-switch-when="radio" class="form-group row">
      <span class="control-label col-xs-12">{{ field.label }}&nbsp;:&nbsp;</span>
      <div ng-if="!readonly" ng-repeat="(value, data) in field.values" class="col-xs-12">
        <label>
          <input type="radio" ng-model="$parent.model[$parent.fieldname]" value="{{value}}">
          <span ng-bind-html="data.label" class="radio-label"></span>
        </label>
      </div>
      <span ng-if="readonly"><span ng-bind-html="field.values[model[fieldname]].label"></span></span>
   </div>

   <div ng-switch-default>
      <div ng-switch="field.type">

         <div ng-switch-default class="form-group row"> <!-- string, key, int, float -->
            <label class="control-label col-xs-4">{{ field.label }}&nbsp;:</label>
            <div class="col-xs-8">
              <input type="text" ng-model="model[fieldname]" class="form-control">
            </div>
         </div>

         <div ng-switch-when="text" class="form-group row">
            <label class="control-label col-xs-4">{{ field.label }}&nbsp;:</label>
            <div class="col-xs-8">
              <textarea class="form-control" rows="5" ng-model="model[fieldname]"></textarea>
            </div>
         </div>

         <div ng-switch-when="boolean" class="form-group row">
            <span class="control-label col-xs-4">{{field.label}}&nbsp;:&nbsp;</span>
            <div class="checkboxSwitch col-xs-8">
               <input type="checkbox" id="item_{{$id}}" class="switch" ng-model="model[fieldname]">
               <label for="item_{{$id}}"><span></span></label>
            </div>
         </div>

         <div ng-switch-when="point" class="form-group">
            <div class="row">
               <label class="control-label col-xs-4">{{ field.label }} :</label>
               <div class="col-xs-3">
                  <input type="text" ng-model="model[fieldname].x" class="form-control">
               </div>
               <div class="col-xs-3">
                  <input type="text" ng-model="model[fieldname].y" class="form-control">
               </div>
               <div class="col-xs-2">
                 <button type="button" class="btn btn-default btn-block" ng-click="map.display = !map.display" ng-i18next="commonFramework:formfield_map">
                 </button>
               </div>
            </div>
            <div ng-if="map.display" class="row">
               <div class="col-xs-8 col-xs-offset-4">
                  <a href="" ng-click="map.geocoder()" ng-i18next="commonFramework:formfield_geocode"></a>
               </div>
               <google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">
                  <marker coords="[model[fieldname].y, model[fieldname].x]" ng-if="model[fieldname].x"></marker>
               </google-map>
            </div>
         </div>

         <div ng-switch-when="jsdatetime" class="form-group row">
            <label class="control-label col-xs-4">{{ field.label }} : </label>
            <div class="col-xs-3">
              <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="shortDate" ng-model="model[fieldname]" is-open="popup1Opened"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="popup1Opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              <!--style="width:120px;position:relative"-->
              </p>
            </div>
            <div class="col-xs-3">
              <timepicker ng-model="model[fieldname]"></timepicker>
            </div>
            <div class="col-xs-2">
              <button class="btn btn-danger" ng-click="clear()" ng-i18next="commonFramework:never"></button>
            </div>
         </div>

         <div ng-switch-when="jstime" class="form-group row">
            <label class="control-label col-xs-4">{{ field.label }} :</label>
            <div class="col-xs-8">
              <timepicker ng-model="model[fieldname]"></timepicker>
            </div>
         </div>

         <div ng-switch-when="jsdate" class="form-group row">
            <label class="control-label col-xs-4">{{ field.label }}</label>
            <div class="col-xs-5">
              <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="shortDate" ng-model="model[fieldname]" is-open="popup1Opened"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="popup1Opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              <!--style="width:120px;position:relative"-->
              </p>
            </div>
            <div class="col-xs-3">
              <button class="btn btn-danger" ng-click="clear()" ng-i18next="commonFramework:never"></button>
            </div>
         </div>


         <div ng-switch-when="duration">
           <div class="form-group row" ng-if="model[fieldname]">
            <label class="control-label col-xs-4">{{ field.label }}</label>
            <div class="col-xs-5">
              <input type="text" ng-model="model[fieldname]" class="form-control" ng-change="onChange()">
            </div>
            <div class="col-xs-3">
              <button class="btn btn-danger" ng-click="clear()" ng-i18next="commonFramework:none"></button>
            </div>
           </div>
           <div class="form-group row" ng-if="!model[fieldname]">
            <span class="control-label col-xs-4">{{field.label}}</span>
            <div class="checkboxSwitch col-xs-8">
              <input type="checkbox" id="toggle_sDuration" class="switch" ng-click="model[fieldname]='00:45:00'">
              <label for="toggle_sDuration"><span></span></label>
            </div>
           </div>
         </div>


         <div ng-switch-when="enum" class="form-group row">
            <label class="control-label col-xs-4">{{ field.label }} :</label>
            <div class="col-xs-8">
              <select ng-if="!readonly" ui-select2="select2Options" ng-model="model[fieldname]" class="form-control"
                      placeholder="Pays">
                <option ng-if="field.nullInvalid !== true" ng-value="undefined" ng-i18next="commonFramework:none"></option>
                <option ng-value="key" ng-repeat="(key, value) in field.values" ng-selected="model[fieldname] == key" ng-if="!value.asAdmin || user.admin">{{value.label}}</option>
              </select>
              <!--<select ng-if="!readonly" ng-model="model[fieldname]" class="form-control"-->
                      <!--ng-options="key as value.label for (key, value) in field.values"/>-->
              <span ng-if="readonly" ng-bind-html="field.values[model[fieldname]].label"></span>
            </div>

         </div>
      </div>
   </div>
</div>
